<!-- <link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/animate.min.css" />
<link rel="stylesheet" href="css/styles.css" /> -->
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/multiupload">
    <input type="file" name="file" multiple/>
    <input type="submit" value="upload" id="s3form_submit"/>
</form>
</body>
</html>

