<footer class="footer">
<<<<<<< HEAD
        <p>&copy; 2017 Admin Management, LBC.</p>
=======
        <p>&copy; 2017 Admin Management, Inc.</p>
>>>>>>> bc203cae8bac6a31dfbac5095c17603c099ca0f7
</footer>
