
<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" id="management"><a href="/admin/management">Management</a></li>
            <li role="presentation" id="albummanagement"><a href="/admin/albummanagement">Album</a></li>
            <li role="presentation" id="usermanagement"><a href="/admin/user">User</a></li>
            <li role="presentation" id="sensor"><a href="/admin/censor">Censor</a></li>
            <li role="presentation"><a href="/admin/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Admin Management</h3>
</div>
